.nerds-logo, .nerds-logo-hover, .nerds-logo-click, .slide1, .slide2, .slide3, .icon-basket, .radio-on, .radio-on-hover, .radio-on-block, .radio-off, .radio-off-hover, .radio-off-block, .sort-down, .sort-down-hover, .sort-down-clic, .sort-up, .sort-up-hover, .sort-up-clic, .checkbox-off, .checkbox-off-hover, .checkbox-off-block, .checkbox-on, .checkbox-on-hover, .checkbox-on-block, .close-cross, .close-cross-hover, .close-cross-clic, .illustration-1.jpg, .illustration-2.jpg, .illustration-3.jpg, .nerds-illustration.jpg, .logo-1, .logo-1-hover, .logo-1-clik, .logo-2, .logo-2-hover, .logo-2-clik, .logo-3, .logo-3-hover, .logo-3-clik, .logo-4, .logo-4-hover, .logo-4-clik, .bgr, .map-marker, .fb-icon, .fb-icon-hover, .fb-icon-clik, .insta-icon, .insta-icon-hover, .insta-icon-clik, .vk-icon, .vk-icon-hover, .vk-icon-clik, .img-mishka.jpg, .img-pink.jpg, .img-sedona.jpg, .img-aplus.jpg, .img-barbershop.jpg, .img-kvast.jpg, .vertical-line, .pink-line, .active{
	background: url(../img/sprites.png) no-repeat;
}

.nerds-logo{
	background-position: -5px -6px ;
	width: 160px;
	height: 65px;
}

.nerds-logo-hover{
	background-position: -3px -91px ;
	width: 161px;
	height: 65px;
}

.nerds-logo-click{
	background-position: -2px -170px ;
	width: 161px;
	height: 65px;
}

.slide1{
	background-position: -213px 0;
	width: 698px;
	height: 413px;
}

.slide2{
	background-position: -948px 0;
	width: 663px;
	height: 430px;
}

.slide3{
	background-position: -1650px -17px ;
	width: 759px;
	height: 411px;
}

.icon-basket{
	background-position: -7px -258px ;
	width: 15px;
	height: 15px;
}

.radio-on{
	background-position: -50px -253px ;
	width: 25px;
	height: 25px;
}

.radio-on-hover{
	background-position: -90px -252px ;
	width: 25px;
	height: 25px;
}

.radio-on-block{
	background-position: -128px -250px ;
	width: 25px;
	height: 25px;
}

.radio-off{
	background-position: -2px -294px ;
	width: 25px;
	height: 25px;
}

.radio-off-hover{
	background-position: -37px -294px ;
	width: 25px;
	height: 25px;
}

.radio-off-block{
	background-position: -77px -294px ;
	width: 25px;
	height: 25px;
}

.sort-down{
	background-position: -116px -297px ;
	width: 9px;
	height: 9px;
}

.sort-down-hover{
	background-position: -134px -297px ;
	width: 9px;
	height: 9px;
}

.sort-down-clic{
	background-position: -153px -298px ;
	width: 9px;
	height: 9px;
}

.sort-up{
	background-position: -114px -321px ;
	width: 9px;
	height: 9px;
}

.sort-up-hover{
	background-position: -135px -321px ;
	width: 9px;
	height: 9px;
}

.sort-up-clic{
	background-position: -155px -321px ;
	width: 9px;
	height: 9px;
}

.checkbox-off{
	background-position: -4px -343px ;
	width: 23px;
	height: 23px;
}

.checkbox-off-hover{
	background-position: -36px -343px ;
	width: 23px;
	height: 23px;
}

.checkbox-off-block{
	background-position: -70px -343px ;
	width: 23px;
	height: 23px;
}

.checkbox-on{
	background-position: -109px -348px ;
	width: 27px;
	height: 23px;
}

.checkbox-on-hover{
	background-position: -151px -350px ;
	width: 27px;
	height: 23px;
}

.checkbox-on-block{
	background-position: -6px -384px ;
	width: 27px;
	height: 23px;
}

.close-cross{
	background-position: -48px -384px ;
	width: 21px;
	height: 21px;
}

.close-cross-hover{
	background-position: -83px -384px ;
	width: 21px;
	height: 21px;
}

.close-cross-clic{
	background-position: -112px -383px ;
	width: 21px;
	height: 21px;
}

.illustration-1.jpg{
	background-position: -10px -427px ;
	width: 300px;
	height: 146px;
}

.illustration-2.jpg{
	background-position: -332px -427px ;
	width: 300px;
	height: 146px;
}

.illustration-3.jpg{
	background-position: -649px -450px ;
	width: 300px;
	height: 146px;
}

.nerds-illustration.jpg{
	background-position: -18px -594px ;
	width: 360px;
	height: 208px;
}

.logo-1{
	background-position: -998px -472px ;
	width: 199px;
	height: 68px;
}

.logo-1-hover{
	background-position: -1237px -467px ;
	width: 199px;
	height: 68px;
}

.logo-1-clik{
	background-position: -1494px -460px ;
	width: 199px;
	height: 68px;
}

.logo-2{
	background-position: -419px -635px ;
	width: 209px;
	height: 87px;
}

.logo-2-hover{
	background-position: -648px -631px ;
	width: 209px;
	height: 90px;
}

.logo-2-clik{
	background-position: -892px -637px ;
	width: 209px;
	height: 87px;
}

.logo-3{
	background-position: -984px -551px ;
	width: 185px;
	height: 52px;
}

.logo-3-hover{
	background-position: -1222px -552px ;
	width: 185px;
	height: 52px;
}

.logo-3-clik{
	background-position: -1449px -551px ;
	width: 185px;
	height: 52px;
}

.logo-4{
	background-position: -1746px -493px ;
	width: 173px;
	height: 84px;
}

.logo-4-hover{
	background-position: -1971px -491px ;
	width: 173px;
	height: 84px;
}

.logo-4-clik{
	background-position: -2172px -487px ;
	width: 173px;
	height: 84px;
}

.bgr{
	background-position: -17px -832px ;
	width: 1440px;
	height: 416px;
}

.map-marker{
	background-position: -1501px -652px ;
	width: 231px;
	height: 190px;
}

.fb-icon{
	background-position: -1751px -647px ;
	width: 79px;
	height: 79px;
}

.fb-icon-hover{
	background-position: -1875px -649px ;
	width: 79px;
	height: 79px;
}

.fb-icon-clik{
	background-position: -1991px -649px ;
	width: 79px;
	height: 79px;
}

.insta-icon{
	background-position: -1750px -779px ;
	width: 79px;
	height: 79px;
}

.insta-icon-hover{
	background-position: -1878px -780px ;
	width: 79px;
	height: 79px;
}

.insta-icon-clik{
	background-position: -1997px -783px ;
	width: 79px;
	height: 79px;
}

.vk-icon{
	background-position: -2126px -646px ;
	width: 79px;
	height: 79px;
}

.vk-icon-hover{
	background-position: -2247px -646px ;
	width: 79px;
	height: 79px;
}

.vk-icon-clik{
	background-position: -2353px -647px ;
	width: 79px;
	height: 79px;
}

.img-mishka.jpg{
	background-position: -36px -1286px ;
	width: 360px;
	height: 576px;
}

.img-pink.jpg{
	background-position: -424px -1292px ;
	width: 360px;
	height: 576px;
}

.img-sedona.jpg{
	background-position: -825px -1294px ;
	width: 360px;
	height: 576px;
}

.img-aplus.jpg{
	background-position: -1222px -1287px ;
	width: 360px;
	height: 576px;
}

.img-barbershop.jpg{
	background-position: -1638px -897px ;
	width: 360px;
	height: 576px;
}

.img-kvast.jpg{
	background-position: -2059px -895px ;
	width: 360px;
	height: 576px;
}

.vertical-line{
	background-position: -1159px -677px ;
	width: 2px;
	height: 52px;
}

.pink-line{
	background-position: -1214px -685px ;
	width: 25px;
	height: 2px;
}

.active{
	background-position: -1323px -686px ;
	width: 18px;
	height: 18px;
}

